{% extends "base.html" %}

{% block title %}
    Test Site
{% endblock %}

{% block additional_js %}
    {% load staticfiles %}
    <link href="{% static 'css/register.css' %}" rel="stylesheet">
{% endblock %}

{% block additional_css %}
    {% load staticfiles %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block container %}
    <form method="post" action="{% url 'users_.views.register' %}"
          class="form-signin" role="form">
        {% csrf_token %}
        {% if success %}
          <h4 style="color:red;">{{success}}</h4>
        {% endif %}
        <h2 class="form-signin-heading">Register new account</h2>
        <input name="username" type="username" class="form-control"
               placeholder="Username" required autofocus>
        <input name="email" type="email" class="form-control"
               placeholder="email" required>
        <input name="password" type="password" class="form-control"
               placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit"
                value="register">Register</button>
    </form>
{% endblock %}